/* your code */
body {
	font-family:arial, sans-serif;
	background-color:white;
	padding: 40px;
}

.stats-table {
	width:80%;
	margin: auto;
	border-collapse: collapse;
	border-radius: 12px;
	box-shadow: gray;
}

.stats-table thead {
	background-color:blue;
	color: white;
}

.stats-table th,
.stats-table td {
	padding: 12px;
	text-align: centre;
	font-size: 16px;
}
